/* Header */


.logo-title {
    color: #F1CDB3;
}

.logo-subtitle {
    color: #FFFFFF;
}

header {
    padding: 60px 0px;
}

/* ================
Main Menu
================ */
.nav-menu li {
    color: #CDCDCD;
}

.nav-menu .active {
    color: #FAFAFA;
}

.nav-menu li:hover {
    color: #FAFAFA;
}

/* ================
Start Screen
================ */

.start-screen {
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
    background: url(../../assets/images/start-screen-gradient-background.png) center/cover;
}

.start-screen .content{
    display: flex;
    justify-content: space-between;
}

.content .content-box {
    margin-top: 134px;
    width: 460px;
}

.content-box p{
    color: #CDCDCD;
    margin-bottom: 42px;
}

.puppy {
    display: flex;
}

.start-screen .button-primary{
    width: 207px;
}

/* ================
About
================ */

.row-about {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 80px;
    margin-bottom: 90px;
}

.about-content {
    width: 430px;
}

.about h2{
    margin-top: 15px;
    margin-bottom: 23px;

}

.about p{
    margin-bottom: 24px;
}

/* ================
Our friends
================ */

.our-friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 52px;
    background: #F6F6F6;
}

.our-friends h2{
    margin-bottom: 58px;
}

.our-friends h3{
    margin-bottom: 30px;
}

.our-friends .button.primary {
    margin-bottom: 101px;
}

/* ================
Help
================ */
.help {
    background-color: white;
}

.help-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 81px;
}

.help-content h2{
    margin-bottom: 60px;
}

.icons-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 119px;
    grid-row-gap: 33px;
}

/* ================
Donation
================ */
.donation h2{
    margin-bottom: 19px;
}

.donation h5{
    margin-top: 0;
    margin-bottom: 20px;
}

.donation {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 87px;
}

.donation-content {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.donation-block {
    width: 380px;
}

.donation-block h2{
    margin-top: 0;
}

.donation-dog {
    margin-top: 10px;
}

.credit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    border: none;
}

.credit-card-icon {
    height: 23px;
}

.credit-card:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.credit-card h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.legal-information {
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin-top: 20px;
}



/* ================
Slider
================ */

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;
}

.slides {
    display: flex;
    gap: 90px;
}



