@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
        url('../assets/fonts/Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../assets/fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial-Black.woff2') format('woff2'),
        url('../assets/fonts/Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial-BoldItalicMT.woff2') format('woff2'),
        url('../assets/fonts/Arial-BoldItalicMT.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../assets/fonts/ArialNarrow.woff2') format('woff2'),
        url('../assets/fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../assets/fonts/ArialNarrow-Italic.woff2') format('woff2'),
        url('../assets/fonts/ArialNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/ArialMT.woff2') format('woff2'),
        url('../assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../assets/fonts/ArialNarrow-Bold.woff2') format('woff2'),
        url('../assets/fonts/ArialNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../assets/fonts/ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/ArialNarrow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/Georgia-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/Georgia-Italic.woff2') format('woff2'),
        url('../assets/fonts/Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/Georgia-Bold.woff2') format('woff2'),
        url('../assets/fonts/Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../assets/fonts/Georgia.woff2') format('woff2'),
        url('../assets/fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
=============
Wrapper
=============
*/

html,
body {
    overflow-x: hidden;
    position: relative;
}

html.no-scroll,
body.no-scroll {
    overflow: hidden;
    height: 100%;
}

.wrapper {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}

/* 
=============
Header
=============
*/
header {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 31px;
}

.logo a {
    text-decoration: none;
}




/*
=============
Navigation
=============
*/

.top-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.top-menu li {
    padding-left: 36px;
}

.top-menu a.active,
.top-menu a:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
}


.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px;
    margin: 10px;
    margin-left: 13%;
    margin-right: 43px;
    z-index: 1000;
    transition: transform 0.5s;
}

.burger.rotate {
    transform: rotate(90deg);
}

.burger-line {
    border: 1px solid #F1CDB3;
    background-color: #F1CDB3;
    width: 30px;
    height: 0px;
}

@media screen and (max-width: 767.9px) {
    header {
        justify-content: space-between;
    }
}

/*
=============
Buttons
=============
*/

.button {
    border-radius: 52px;
    padding: 15px 44px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: transparent;
    border: 1px solid #F1CDB3;
    text-decoration: none;
}

.button.primary {
    background-color: #F1CDB3;
}

.button:hover,
.button.primary:hover {
    background-color: #FDDCC4;
    cursor: pointer;
}

/*
=============
Main
=============
*/

body{
    width: 100%;
    height: 100%;
  }

.pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0 0;
}

.pets-content h2{
    text-align: center;
    width: 400px;
    margin: 0 0 60px;
}

.button-primary {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 100px;
}

/*
============
Modal Window
============
*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54, 54, 54, 0.7);
}

.overlay.show {
    display: block;
}

.modal-window {
   /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 900px;
    height: 500px;
} 

.modal-content {
    display: flex;
    width: 900px;
    height: 500px;
    background: #FAFAFA;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.modal-close-button {
    position: absolute;
    top: -60px;
    right: -45px;
    width: 52px;
    height: 52px;
    background: transparent;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
}

.modal-close-button:hover{
    background-color: #FDDCC4;
    cursor: pointer;
}
.modal-content-content {
    padding: 50px 20px 88px 30px;
}
.modal-content-content p{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}

.modal-content h2{
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px; 
}

.modal-content li{
    color: #F1CDB3;
    padding-bottom: 10px;

}

.modal-content li span{
    color: black;
}

.modal-content img{
    border-radius: 9px;
}

.modal-content h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-top: 0;
    margin-bottom: 40px;
}

.modal-content-content ul{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    padding-left: 15px;
    margin-top: 40px;
}



    
/*
=============
Slider
=============
*/
.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}

.card-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}

.card:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.pets-card-title {
    margin: 30px 0 30px 0;
}

.button-round {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: transparent;
}

.button-round:hover,
.button-round-active {
    background-color: #F1CDB3;
    cursor:pointer;
}

.button-round-inactive,
.button-round-inactive:hover {
    border-color: #CDCDCD;
    color: #CDCDCD;
    cursor:default;
    background: transparent;
}

.card:hover .button {
    background: #F1CDB3;
}

@keyframes opac {
    from 
    {
        opacity:0
    } 
    to
    {
        opacity:1
    }
}

.fade-in-animation {
    display: flex;
    animation: opac 0.3s linear 1;
}

/*
=============
Footer
=============
*/
/* .contacts, .location, .puppy-footer {
    width: 25%;
} */

.contacts, .location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    height: 295px;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    width: 748px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

footer {
    background: url("../assets/noise_transparent@2x.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background: url("../assets/start-screen-background.jpg") center/cover;
}

.puppy-footer {
    width: 300px;
    height: 310px;
    margin-top: 40px;
}

.email-icon, .phone-icon {
    margin-right: 20px;
}

.location-icon-boston {
    margin-right: 20px;
}

.email-icon {
    background: url("../assets/icon-email.svg") no-repeat;
    width: 40px;
    height: 30px;
}

.phone-icon {
    background: url("../assets/icon-phone.svg") no-repeat;
    width: 40px;
    height: 40px;
}

.location-icon {
    background: url("../assets/icon-location.svg") no-repeat;
    width: 40px;
    height: 40px;
}

.location-icon-boston {
    background: url("../assets/icon-location.svg") no-repeat;
    width: 40px;
    height: 40px;
}

.email, .phone, .location-item {
    display: flex;
    align-items: center;
}

.email, .phone, .location-item {
    text-decoration: none;
}

footer .location {

}


/*
=============
Typography
=============
*/
.logo-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 9px 0 0 3px;

}

.top-menu a{
    text-decoration: none;
    color: #CDCDCD;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.pets-card-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

footer h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 56px 0 0px;
}

footer h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
    margin: 0;
    text-align: left;
    letter-spacing: 0.06em;
}

/*==================
768px <= width < 1280px
==================*/

@media screen and (min-width: 1280px) {
    .burger {
        display: none;
    }
}

@media screen and (max-width: 1279.9px) and (min-width: 768px) {

    .burger {
        display: none;
    }

    .footer-content{
        flex-wrap: wrap;
    }

    footer .contacts h3 {
        margin: 31px 34px 40px;   
    }

    footer .location h3{
        margin: 31px 19px 32px;
    }

    footer .location-item {
        margin: 0 0 29px 15px;
    }

    .location-item {
        margin-bottom: 34px;
    }

    .email, .phone {
        margin: 0 0 40px 33px;
    }

    .contacts, .location{
        width: 50%;
    }


    .puppy-footer {
        width: 300px;
        height: 310px;
        margin: 31px auto 0;
    }

}


/*==================
768px
==================*/

@media screen and (max-width: 767.9px) {

    body{
        min-width: 320px;
    }
    
    .contacts, .location {
        width: 100%;
        height: 100%;
    }

    .footer-content {
        flex-wrap: wrap;
    }

    .puppy-footer {
        margin: 0 auto;
        width: 261px;
        height: 268px;
    }

    footer h3{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        margin: 30px 0 40px;
    }

    footer .email {
        margin-bottom: 40px;
    }

    footer .phone {
        margin-bottom: 4px;
    }

    .location h3 {
        width: 98%;
        margin: 30px auto 40px;
    }

    .location-item {
        margin-bottom: 35px;
    }

    .email-icon, .phone-icon {
        margin-right: 21px;
        margin-left: 23px;
    }

    .footer-contacts {
        flex-direction: column;
    } 


}


@media screen and (max-width: 1100px) and (min-width: 768px) {
    .modal-window {
        width: 682px;
        height: 402px;
    }

    .modal-content {
        width: 630px;
        height: 350px;
    }

    .modal-content-content {
        padding: 0 20px 88px 30px;
    }

    .modal-content-content p{
        font-size: 13px;
        margin: 6px 0px 6px;
    }

    .modal-content-content ul{
        margin-top: 0;
    }

    .modal-content h4 {
        margin-bottom: 0;
    }

    .modal-content li {
        padding-bottom: 4px;
    }

}

@media screen and (max-width: 767.9px) {
    .modal-window {
        width: 270px;
        height: 393px;
    }

    .modal-content {
        width: 240px;
        height: 341px;
    }

    .modal-content img{
        display: none;
    }

    .modal-close-button {
        margin: 0 10px 0 83%;
    } 

    .modal-content-content p{
        font-size: 13px;
        margin: 10px 10px;
    }

    .modal-content-content {
        padding: 0;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }

    .modal-content h2 {
        text-align: center;
    }

    .modal-content ul{
        margin-top: 0px;
    }

    .modal-content li {
        padding-bottom: 0px;
        font-size: 13px;
    }

    .modal-content-content h4{
        text-align: center;
        margin-bottom: 0px;
    }

}