/*
=============
Main
=============
*/
.start-screen {
    background: url(../../assets/start-screen-background.jpg);
    background-size: cover;
    /* height: 908px; */
}

.start-screen-content {
    display: flex;
}

.start-screen-content .content {
    margin-top: 144px;
    width: 42%;
}

 .puppy {
    margin: 30px 0px 0;
}

.about-container {
    display: flex;
    padding: 90px 40px;
}

.about-content {
    width: 38%;
}

.about-pets {
    width: 27%;
    margin: 0 120px 0 135px;
}

.pets {
    background-color:#F6F6F6;
}

.card {
    margin: 0 45px 0;
}

.pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0;
}

.pets-content h2{
    text-align: center;
    width: 400px;
    margin: 0 0 60px;
}

.pets-content > .button {
    margin: 60px 0 100px;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 45px;

}

.help-list-item {
    text-align: center;
    margin: 0 60px 55px;
    min-width: 60px;
    padding-top: 88px;
}

.help-list-item:nth-child(1) {
    background: url("../../assets/icon-pet-food.svg") no-repeat top;
}

.help-list-item:nth-child(2) {
    background: url("../../assets/icon-transportation.svg") no-repeat top;
}   

.help-list-item:nth-child(3) {
    background: url("../../assets/icon-toys.svg") no-repeat top;
}

.help-list-item:nth-child(4) {
    background: url("../../assets/icon-bowls-and-cups.svg") no-repeat top;
}

.help-list-item:nth-child(5) {
    background: url("../../assets/icon-shampoos.svg") no-repeat top;
}   

.help-list-item:nth-child(6) {
    background: url("../../assets/icon-vitamins.svg") no-repeat top;
}

.help-list-item:nth-child(7) {
    background: url("../../assets/icon-medicines.svg") no-repeat top;
}

.help-list-item:nth-child(8) {
    background: url("../../assets/collars-or-leashes.svg") no-repeat top;
}   

.help-list-item:nth-child(9) {
    background: url("../../assets/icon-sleeping-area.svg") no-repeat top;
}

.donation {
    background-color: #F6F6F6;
    padding: 80px 0px 68px;
}

.donation-content {
    display: flex;
    justify-content: center;
    margin-left: 125px;
}

.donation-content .content{
    width: 30%;
    margin: 0 31px;
    padding-right: 150px;
}

.donation-dog {
    width: 505px;
    /* height: 261px; */
    margin-top: 11px;
}

.credit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    margin-bottom: 20px;
    text-decoration: none;
}

.credit-card:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.credit-card-icon {
    width: 30px;
    height: 23px;
    background: url("../../assets/credit-card.svg");
    margin-right: 15px;
}

.help-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-content h2{
    margin: 80px 0 60px;
    text-align: center;
}



/*
=============
Typography
=============
*/
.start-screen-content h1{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: white;
    letter-spacing: 0.001em;
    margin: 47px 0 45px;
    width: 67%;
}

.start-screen-content p{
    color: #CDCDCD;
    letter-spacing: 0.012em;
    line-height: 23px;
    margin: 0px 0px 60px;
}

.about-content h2{
    width: 370px;
    margin: 14px 0 25px;
}

.about-content p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.help-content h2 {
    width: 310px;
    margin-bottom: 60px;
}

.help-list-item h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    display: inline-block;
}

.donation h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 0 20px;
}

.credit-card h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-content .content{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.donation-content h2{
    margin: 0 0 20px;
    width: 290px;
} 

/*==================
768px <= width < 1280px
==================*/

@media screen and (min-width: 1280px) {
    .burger {
        display: none;
    }
}


@media screen and (max-width: 1279px) and (min-width: 768px) {

    .burger {
        display: none;
    }

    .wrapper {
        width: 92%;
        /* width: 708px; */
        padding: 0;
        margin: 0 auto;
    }

    .start-screen-content {
        flex-direction: column;
    }

    .start-screen-content .content {
        width: calc(100% - 235px);
        margin-top: 0;
        margin: 0 17%;
    }

    .button.primary {
        margin: 59px 27% 100px;
    }

    .start-screen-content h1 {
        margin: 30px 0 41px;
    }
    
    .start-screen-content p{
        margin: 0 0 64px;
    }

    .help-list-item {
        margin: 1px 16px 55px;
        min-width: 28%;
    }

    .donation-content {
        margin-left: 0;
        flex-direction: column;
    }

    .card:last-of-type {
        display: none;
    }

    .card {
        margin: 0px 19px 0;
    }

    .about-container {
        flex-direction: column-reverse;  
        padding: 64px 40px 120px;
    }

    .puppy {
        text-align: center;
        margin: 116px 0 0;
        padding-left: 138px;
    }

    .about-content {
        width: calc(100% - 200px);
        /* margin-top: 0; */
        margin: 0 100px;
    }

    .about-content p {
        line-height: 170%;
    }

    .about-pets {
        margin:60px 137px 0 164px;
    }

    .pets-content {
        padding: 4px 0 0;
    }

    .pets-content h2{
        margin: 53px 0 60px;
    }

    .donation {
        padding: 80px 0 100px;
    }

    .donation-content {
        width: calc(100% - 200px);
        /* margin-top: 0; */
        margin: 0 100px;
        flex-direction: column-reverse;
    }

    .donation-content .content {
        width: 75%;
        margin: 2px 13%;
    }

    .donation-dog {
        margin-top: 45px;
    }

    header {
        padding-top: 30px;
    }

}

@media screen and (max-width: 767px) {

    nav {
        display: none;
    }

    .wrapper {
        width: 93%;
        padding: 0;
        margin: 0 auto;
    }

    .start-screen-content {
        flex-direction: column;
    }

    .start-screen-content .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 0;
        margin: 0 auto;
    }

    .puppy {
        margin: 36% 0 0 13%;
    }

    .button.primary {
        margin: 0 auto;
    }

    .about-container {
        flex-direction: column-reverse;
        padding: 0;  
    }

    .about-content {
        width: calc(100% - 23px);
        margin: 0 12px 0;
    }

    .about-content h2 {
        width: 100%;
        margin: 43px 0 25px;
    }

    .about-content p {
        text-align: justify;
        padding-top: 0;
        padding-bottom: 7px;
    }
    
    .pets-content {
        padding-top: 42px;
        padding-bottom: 43px;
    }

    .pets-content h2 {
        width: 100%;
        margin: 0 0 40px;
    }
    
    h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        width: 100%;
    }
    
    .about-pets {
        width: auto;
        margin: 19px 0 0 20px;
    }

    .about-pets img{
        width: 93%;
        margin-bottom: 39px;
    }

    .start-screen-content h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        text-align: center;
        width: 85%;
        margin: 47px auto 42px;
    }

    .start-screen-content p {
        margin: 0 0 46px;
        text-align: center;
    }

    .card:nth-last-of-type(-n+2){
        display: none;
    }

    .help-content h2 {
        margin-top: 42px;
        margin-bottom: 40px;
        width: 90%;
    }

    .help-list {
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .help-list:last-child() {
        justify-content: flex-start;
    }

    .help-list-item {
        min-width: 43%;
        margin: 0 0 29px;
        padding-top: 70px;
    }

    .help-list-item:nth-child(n) {
        background-size: 40%;
    }

    .help-list-item h4 {
        font-size: 15px;
    }

    header {
        padding-top: 31px;
        margin-bottom: 12px;
    }

    .slider {
        width: 100%;
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin-bottom: 33px;
    }
    .card {
        margin: 0 auto 0;
    }

    .button-round {
        order: 2;
        margin: 20px auto 10px;
    }
    
    .donation {
        padding: 43px 0px 0px;
    }

    .donation-content {
        flex-direction: column-reverse;
        margin: 0;
    }

    .donation-content .content {
        width: 100%;
        margin: 0;
        padding-right: 0px;
    }

    .donation-content h2 {
        margin: 0 auto 23px;
        width: 72%;
    }

    .donation-content h5 {
        font-size: 14px;
        text-align: center;
        margin: 0 0 25px;
    }
    
    .donation-content p {
        margin: 0 2% 37px;
        text-align: justify;
    }

    .donation-dog {
        margin: 0 auto;
        width: 90%;
    }

    .credit-card {
        width: 94%;
        margin: 0 auto 20px;
    }

    .credit-card h4 {
        font-size: 15px;
    }

    /* .donation-dog {
        width: 100%;
        margin: 0;
    } */

    .donation-dog img {
        width: 100%;
        margin-bottom: 38px;
    }

    /* .contacts, .location {
        width: 100%;
    }

    .footer-content {
        flex-wrap: wrap;
    }

    .puppy-footer {
        margin: 0 auto;
        width: 84%;
    }

    footer h3{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        margin: 30px 0 40px;
    }

    footer .email {
        margin-bottom: 40px;
    }

    footer .phone {
        margin-bottom: 4px;
    }

    .location h3 {
        width: 98%;
        margin: 30px auto 40px;
    } */


}