/*
=============
Main
=============
*/
.start-screen {
    background: url("../../assets/noise_transparent@2x.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    background: url("../../assets/start-screen-background.jpg") center/cover;
    
}

.start-screen-content {
    display: flex;
}

.start-screen-content .content {
    margin-top: 144px;
    width: 42%;
}

 .puppy {
    margin: 30px 0px 0;
}

.about-container {
    display: flex;
    padding: 90px 40px 77px;
}

.about-content {
    width: 38%;
}

.about-pets {
    margin: 0 121px 0 134px;
}

.pets {
    background-color:#F6F6F6;
}

.card {
    margin: 0 45px 0;
}

.pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0;
}

.pets-content h2{
    text-align: center;
    width: 400px;
    margin: 0 0 60px;
}

.pets-content > .button {
    margin: 60px 0 100px;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 49px;

}

.help-list-item {
    text-align: center;
    margin: 0 60px 54px;
    min-width: 60px;
    padding-top: 90px;
}

.help-list-item:nth-child(1) {
    background: url("../../assets/icon-pet-food.svg") no-repeat top;
}

.help-list-item:nth-child(2) {
    background: url("../../assets/icon-transportation.svg") no-repeat top;
}   

.help-list-item:nth-child(3) {
    background: url("../../assets/icon-toys.svg") no-repeat top;
}

.help-list-item:nth-child(4) {
    background: url("../../assets/icon-bowls-and-cups.svg") no-repeat top;
}

.help-list-item:nth-child(5) {
    background: url("../../assets/icon-shampoos.svg") no-repeat top;
}   

.help-list-item:nth-child(6) {
    background: url("../../assets/icon-vitamins.svg") no-repeat top;
}

.help-list-item:nth-child(7) {
    background: url("../../assets/icon-medicines.svg") no-repeat top;
}

.help-list-item:nth-child(8) {
    background: url("../../assets/collars-or-leashes.svg") no-repeat top;
}   

.help-list-item:nth-child(9) {
    background: url("../../assets/icon-sleeping-area.svg") no-repeat top;
}

.donation {
    background-color: #F6F6F6;
    padding: 77px 0px 88px;
}

.donation-content {
    width: 915px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.donation-content .content{
    margin: 0 0 0 31px;
}

.donation-dog {
    width: 505px;
    margin-top: 11px;
}

.credit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    margin-bottom: 20px;
    text-decoration: none;
}

.credit-card:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.credit-card-icon {
    width: 30px;
    height: 23px;
    background: url("../../assets/credit-card.svg");
    margin-right: 15px;
}

.help-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-content h2{
    margin: 80px 0 60px;
    text-align: center;
}


.button-round-left {
    
}

.button-round-right {
/* margin-left: 3px; */
}


/*
=============
Main mobile menu
=============
*/

.main-mobile-menu .logo {
    margin: 30px 0 0 25px;
}

.main-mobile-menu {
    position: absolute;
    z-index: 100;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    transition: right 0.5s;
}

.main-mobile-menu.show {
    right: 0;
}

.mobile-menu li{
    list-style-type: none;
}

.mobile-menu a{
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #CDCDCD;
}

.mobile-menu .active{
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
}

/*
=============
Typography
=============
*/
.start-screen-content h1{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: white;
    letter-spacing: 0.001em;
    margin: 47px 0 45px;
    width: 67%;
}

.start-screen-content p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    width: 94%;
    padding-bottom: 42px;
}

.about-content h2{
    width: 370px;
    margin: 14px 0 25px;
}

.about-content p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 0 0 25px;
}

.help-content h2 {
    width: 310px;
    margin-bottom: 60px;
}

.help-list-item h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    display: inline-block;
}

.donation h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 0 20px;
}

.credit-card h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-content .content{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.donation-content h2{
    margin: 0 0 20px;
    width: 290px;
} 

/*==================
768px <= width < 1280px
==================*/

@media screen and (max-width: 1279.9px) and (min-width: 768px) {

    .wrapper {
        width: 92%;
        padding: 0;
        margin: 0 auto;
    }

    .start-screen-content {
        flex-direction: column;
    }

    .start-screen-content .content {
        width: calc(100% - 235px);
        margin-top: 0;
        margin: 0 17%;
    }

    .button.primary {
        margin: 59px 27% 100px;
    }

    .start-screen-content h1 {
        margin: 30px 0 41px;
    }
    
    .start-screen-content p{
        margin: 0px 3px 17px;
        font-size: 15px;
        width: 100%;
    }

    .help-list-item {
        margin: 1px 16px 55px;
        min-width: 28%;
    }

    .donation-content {
        margin-left: 0;
        flex-direction: column;
    }

    .card:last-of-type {
        display: none;
    }

    .card {
        margin: 0px 0px 0;
    }

    .about-container {
        flex-direction: column-reverse;  
        padding: 64px 40px 0px;
    }

    .puppy {
        text-align: center;
        margin: 116px 0 0;
        padding-left: 138px;
    }

    .about-content {
        width: calc(100% - 200px);
        margin: 0 100px;
    }

    .about-content p {
        margin: 0 0 27px;
    }

    .about-pets {
        margin:52px auto 95px;
    }

    .pets-content {
        padding: 4px 0 0;
    }

    .pets-content h2{
        margin: 76px 0 60px;
    }

    .donation {
        padding: 70px 0 100px;
    }

    .donation-content {
        width: calc(100% - 200px);
        margin: 0 98px;
        flex-direction: column-reverse;
    }

    .donation-content .content {
        width: 75%;
        margin: 2px 13%;
    }

    .donation-dog {
        margin: 45px auto 0;
    }

    header {
        padding-top: 30px;
    }

    .card-list {
        width: 583px;
    }

    .slider {
        width: 708px;
    }

}

@media screen and (max-width: 767.9px) {

    nav {
        display: none;
    }

    .wrapper {
        width: 93%;
        padding: 0;
        margin: 0 auto;
    }

    .start-screen-content {
        flex-direction: column;
    }

    .start-screen-content .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 0;
        margin: 0 auto;
    }

    .puppy {
        margin: 36% 0 0 13%;
    }

    .button.primary {
        margin: 0 auto;
    }

    .about-container {
        flex-direction: column-reverse;
        padding: 0;  
    }

    .about-content {
        width: calc(100% - 28px);
        margin: 0 14px 0;
    }

    .about-content h2 {
        width: 100%;
        margin: 43px 0 25px;
    }

    .about-content p {
        text-align: justify;
        padding-top: 0;
        margin-bottom: 21px;
    }
    
    .pets-content {
        padding-top: 42px;
        padding-bottom: 43px;
    }

    .pets-content h2 {
        width: 100%;
        margin: 0 0 40px;
    }
    
    h2 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        width: 100%;
    }
    
    .about-pets {
        width: auto;
        margin: 19px auto 0px;
    }

    .about-pets img{
        width: 259px;
        margin-bottom: 39px;
    }

    .start-screen-content h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        text-align: center;
        width: 85%;
        margin: 47px auto 42px;
    }

    .start-screen-content p {
        margin: 0 0 42px;
        text-align: center;
        width: 100%;
        padding-bottom: 0px;
    }

    .card:nth-last-of-type(-n+2){
        display: none;
    }

    .help-content h2 {
        margin-top: 42px;
        margin-bottom: 40px;
        width: 90%;
    }

    .help-list {
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .help-list:last-child() {
        justify-content: flex-start;
    }

    .help-list-item {
        min-width: 46%;
        margin: 0 0px 29px;
        padding-top: 70px;
    }

    .help-list-item:nth-child(n) {
        background-size: 50px;
    }

    .help-list-item h4 {
        font-size: 15px;
    }

    header {
        padding-top: 31px;
        margin-bottom: 12px;
    }

    .slider {
        width: 264px;
        flex-wrap: wrap;
        margin-bottom: 33px;
        justify-content: center;
    }
    .card {
        margin: 0 auto 0;
    }

    .button-round {
        order: 2;
        margin: 20px auto 10px;
    }
    
    .donation {
        padding: 43px 0px 0px;
    }

    .donation-content {
        width: 100%;
        flex-direction: column-reverse;
        margin: 0;
    }

    .donation-content .content {
        width: 100%;
        margin: 0;
        padding-right: 0px;
    }

    .donation-content h2 {
        margin: 0 auto 23px;
        width: 72%;
    }

    .donation-content h5 {
        font-size: 13px;
        text-align: center;
        margin: 0 0 25px;
        letter-spacing: 0.07em;
        
    }
    
    .donation-content p {
        margin: 0 3% 40px;
        text-align: justify;
    }

    .donation-dog {
        margin: 0 auto;
        width: 90%;
    }

    .credit-card {
        width: 94%;
        margin: 0 auto 20px;
    }

    .credit-card h4 {
        font-size: 15px;
    }

    .donation-dog img {
        width: 100%;
        margin-bottom: 37px;
    }
}