.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.body {

}

p {
    font-weight: 400;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Georgia';
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
}

h1 {
    font-size: 44px;
    color: #FFFFFF;
    width: 310px;
    margin-bottom: 41px;
}

h2 {
    font-size: 35px;
    color: #545454;
    letter-spacing: 0.06em;
}

h3 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin-top: 26px;
}

h4 {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

h5 {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

/* ============ */

.button {
    padding-left: 45px;
    padding-right: 45px;
    background-color: transparent;
    height: 52px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.primary {
    background: #F1CDB3;
    color: #292929;
}

.secondary {
    border: 2px solid #F1CDB3;

}

.button:hover,
.button.primary:hover {
    background: #FDDCC4;
}


.button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
}

.button-round-inactive {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.button-round-active {
    background-color: #F1CDB3;
}

.button-round:hover {
    background: #F1CDB3;
}

.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    color: #545454;
}

.card:hover {
    cursor: pointer;
}

.card:hover .secondary {
    background: #FDDCC4;
}


/* ================
Footer
================ */
.footer-content {
    display: flex;
    justify-content: space-around;
    gap: 161px;
    padding-top: 27px;
}


.boston, .london, .phone, .email {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
}

footer h2 {
    color: #FFFFFF;
    margin-bottom: 0px;
}

footer h4 {
    color: #F1CDB3;
    margin-top: 0;
    margin-bottom: 0px;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-puppy {
    padding-top: 40px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.footer-locations {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


/* ================
Header
================ */


header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title {
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.logo-subtitle {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 0;
}


/* ================
Main Menu
================ */

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu li{
    margin-left: 36px;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
}

.nav-menu .active{
    border-bottom: 3px solid #F1CDB3;
}

.nav-menu li:hover {
    cursor: pointer;
}

