header {
    display: flex;
    padding: 30px 0px;
    position: fixed;
    width: 100%;
    background-color: white;
}

.logo-title {
    color: #545454;
}

.logo-subtitle {
    color: #292929;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    
}

.our-pets {
    background: #F6F6F6;
}

.our-pets-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    padding-top: 173px;
}

.our-pets-content h2{
    margin-bottom: 58px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;
    row-gap: 29px;
}

.card h3 {
    margin-bottom: 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin-bottom: 100px;
    margin-top: 16px;
}

.nav-menu li {
    color: #545454;
}

.nav-menu li:hover {
    color: #292929;
}